.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 999;
  height: 100%;
}
.loader h1 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 200;
  color: grey;
  background-image: url(../img/waves.png);
  background-repeat: repeat-x;
  /*-webkit-background-clip: text;*/
  animation: animate 5s ease-in-out infinite;
}
@keyframes animate {
  0% {
    background-position: left 0px top -90px;
  }
  40% {
    background-position: left 800px top -40px;
  }
  80% {
    background-position: left 1800px top -40px;
  }
  100% {
    background-position: left 2400px top -90px;
  }
}
